{% extends "main.html" %}

{% block content %}

<h1>Projects </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Created At</th>
        <th>Votes</th>
        <th>Ratio</th>
        <th></th>
    </tr>
    {% for i in projects %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.vote_total }}</td>
        <td>{{ i.vote_ratio }}%</td>
        <td><a href="{% url 'project' i.id %}">View</a></td>


    </tr>
    {% endfor %}
</table>


{% endblock content %}